name: Run Pest tests

on:
  push:
    branches:
      - 'main'
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Run Pest tests
    if: github.event.pull_request.draft == false

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_DATABASE: library_tests
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -uroot -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: pdo_mysql

      - name: Prepare .env.testing
        run: cp .env.example .env.testing

      # desnoods deze, zodat artisan ook .env.testing gebruikt:
      - name: Use testing env as default
        run: cp .env.testing .env

      - name: Install deps
        run: composer install --prefer-dist --no-interaction --no-scripts

      - name: Run migrations
        run: php artisan migrate --env=testing --force
